#Home {
    width: 100%;
    height: 200vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
}
#Home .pin {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;

    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;	
    position: -webkit-sticky;
    top: 0;
    left: 0;
}
#Home div h1{
    width: 80%;
    height: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: PP Telegraf;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(2.25rem, 1.7143rem + 2.6786vw, 6rem);
    line-height: auto;
    text-align: center;
    margin: 0;
    opacity: 0;
     
    color: #ffffff;  
    z-index: 1;  
    animation: ani_home_title 1s 3.2s forwards cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
@keyframes ani_home_title {
    0%{
        margin-top: 10vh;
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}

.image{
    width: 80%;
    height: 55%;

    position: absolute;
    bottom: 8%;
    
    background: url(/public/Images/home/home.jpg);
    background-size: cover;
    background-position: 50% 10%;
    border-radius: 2.5vh;
    z-index: 1;
    animation: ani_home_image 1s 3.4s forwards cubic-bezier(0.230, 1.000, 0.320, 1.000),
    ani_home_image2 1s 3.4s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    opacity: 0;
}

@keyframes ani_home_image {
    0% {
     opacity: 0;
    }
    100% {
     opacity: 1;
    }
}

@keyframes ani_home_image2 {
    0% {
     bottom: 0;
    }
    100% {
     bottom: 8%;
    }
}
.image_blur{
    width: 80%;
    height: 55%;

    position: absolute;
    bottom: 8%;
    
    background: url(/public/Images/home/home.jpg);
    background-size: cover;
    background-position: 50% 10%;
    border-radius: 2.5vh;
    z-index: 0;
    filter: blur(20vh);
    animation: ani_home_image 1s 3.4s forwards cubic-bezier(0.230, 1.000, 0.320, 1.000);
    opacity: 0;
}
.blur{
    width: 80%;
    height: 55%;

    position: absolute;
    bottom: 8%;
    border-radius: 2.5vh;

    background: rgba(255, 255, 255, 0.001);
 
    backdrop-filter: blur(0px);
    z-index: 2;
}
.scroll_down{
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ani_home_scroll 1s 3.6s forwards cubic-bezier(0.230, 1.000, 0.320, 1.000);
    opacity: 0;
    transition: 0.5s ease;
}
@keyframes ani_home_scroll {
    0% {
     opacity: 0;
    }
    100% {
     opacity: 0.8;
    }
}
.scroll_down:hover{
    opacity: 1 !important;
}
@media (max-width:555px) {
    #Home div h1{
        text-align: left;
    }
}